doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    | &#x9;&#x9;
    meta(name='viewport', content='width=device-width, initial-scale=1')
    | &#x9;&#x9;
    meta(name='description', content='Thoughtpivot')
    | &#x9;&#x9;
    meta(name='author', content='ispyhumanfly')
    | &#x9;&#x9;
    title Thoughtpivot
    // Stylesheets
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel='stylesheet')

    link(href='./css/bootstrap.min.css', rel='stylesheet')
    | &#x9;&#x9;
    link(href='./css/font-awesome.min.css', rel='stylesheet')
    | &#x9;&#x9;
    link(href='./css/bootstrapValidator.min.css', rel='stylesheet')
    | &#x9;&#x9;
    link(href='./css/ladda-themeless.min.css', rel='stylesheet')
    | &#x9;&#x9;
    link(href='./css/animate.min.css', rel='stylesheet')
    | &#x9;&#x9;
    link(href='./css/owl.carousel.css', rel='stylesheet')
    | &#x9;&#x9;
    link(href='./css/owl.theme.css', rel='stylesheet')
    | &#x9;&#x9;
    link(href='./css/app.css', rel='stylesheet')
    | &#x9;&#x9;
    link(href='../settings-panel.css', rel='stylesheet')
    // Favicon
    link(rel='shortcut icon', href='./img/favicon/favicon.ico', type='image/x-icon')
    | &#x9;&#x9;
    link(rel='icon', href='./img/favicon/favicon.ico', type='image/x-icon')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='./js/html5shiv.js')
      | &#x9;&#x9;&#x9;
      script(src='./js/respond.min.js')

    style
        include:less:clean-css index.style.less

body
    // Preloader
    #preloader
        #status.text-center
            .spinner
                .rect1
                | &#x9;&#x9;&#x9;&#x9;&#x9;
                .rect2
                | &#x9;&#x9;&#x9;&#x9;&#x9;
                .rect3
                | &#x9;&#x9;&#x9;&#x9;&#x9;
                .rect4
                | &#x9;&#x9;&#x9;&#x9;&#x9;
                .rect5

    script.
        window.location="/";
